<div class="container" style="margin-top: 100px;">
    <div>
        <h2>Results forAir purifiers, Lamps and more....</h2>
        <p></p>
    </div>
    <div class="row" style="margin-top: 70px;">
        <div class="col-3">
            <div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 30px;">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Price
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" >
                            
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>0-<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>1000</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>1000-<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>2000</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>2000-<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>3000</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>3000-<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>4000</label><br>
                            
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Brand
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                           
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Xiaomi</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"> boAt</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"> Ambrane</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Syska</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Philips</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Kingdom</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Ikonic</label><br>
                            
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Categories
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Trimmers</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"> straightners</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Other Accessories </label>
                        </div>
                    </div>
                </div>
            </div>
            <button style="margin-left: 100px;margin-top: 20px; background-color: black; color: beige;" >see results</button>
        </div>
        <div class="col-9">
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image" style="padding-bottom: 30px;" >
                    <img src="assets/images/expo 1.jpg" alt="" style="width: 200px; height: 150px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Mi Electric Toothbrush T100
                        </h5>
                        <p> NUN4121IN</p>
                        <h5> <span style="color: rgba(255, 3, 3, 0.856);">₹799.00 </span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/expo 2.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Mi XXQ02HM Trimmer new 60 min Runtime 20 Length Settings 
                        </h5>
                        <p> BLACK, Black + Stainless Steel Blades + NUN4053IN New + 100-240 V + Lithium-ion</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹1499.00 </span>
                         
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/expo 3.png" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Boat Misfit by boAt T30 Runtime: 60 mins Trimmer for Men  (Grey)
                            Boat Misfit by boAt T30 Runtime: 60 mins Trimmer for Men (Grey)
                        </h5>
                        <p> BLACK, Black + Stainless Steel Blades + Misfit
                        </p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹699.00
                        </span>
                            <span style="font-size: smaller;"><del>₹1499.00</del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 53% Off</span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/expo 4.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>PMi XXQ02HM Trimmer 1C 60 min Runtime 20 Length Settings  (Black)
                            Mi XXQ02HM Trimmer 1C 60 min Runtime 20 Length Settings (Black)
                        </h5>
                        <p>BLACK, Black + Stainless Steel Blades + BHR4005IN + 100-240 V + Lithium-ion</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);">₹1099.00</span>
                            <span style="font-size: smaller;"><del>₹1199.00
                            </del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 8% Off</span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/expo 5.png" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Boat Misfit by boAt T50 Trimmer 160 mins Runtime 40 Length Settings (Silver)
                        </h5>
                        <p>BLACK, Silver + Titanium Coated blades + Misfit</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);">₹999.00 </span>
                            <span style="font-size: smaller;"><del>₹1499.00</del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 33% Off</span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 65px;">
                <div class="product-image">
                    <img src="assets/images/expo 6.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Syska Shaver (SYSKA-SH7200) Trimmer
                        </h5>
                        <p>Generic
                        </p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);">₹1999.00</span>
                           
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 60px;">
                <div class="product-image">
                    <img src="assets/images/expo 7.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Syska Shaver (SYSKA-SH8300)
                        </h5>
                        <p>Generic
                        </p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹3099.00
                            </span>
                           
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 60px;">
                <div class="product-image">
                    <img src="assets/images/expo 8.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Kingdom Home use face Steamer
                        </h5>
                        <p>Generic
                        </p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);">₹1999.00</span>
                            
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/expo 9.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>
                            Philips BT3105/15 Cordless Beard Trimmer
                            Philips BT3105/15 Cordless Beard Trimmer
                        </h5>
                        <p> Generic</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);">₹1697.00</span>
                           

                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/expo 10.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Ambrane Trimmer Cruise Lite e

                        </h5>
                        <p>Generic</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹1599.00</span>

                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>