.form1 {
    text-align: center;
    background-color: black;
    margin-bottom: -63px;
    margin-left: -2px;
    margin-right: -3px;
    color: beige;
    border: solid 3px beige;
}

#login-form {
    background: transparent;
    padding-bottom: 150px;
    padding-top: 150px;
    border: solid 3px bisque;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 15px;
}

input {
    border-radius: 15px;
    border: solid 3px beige;
}

button {
    border-radius: 15px;
    border: solid 3px beige;

}

input:hover {
    background-color: beige;
    
}