<div class="container" style="margin-top: 100px;">
    <div>
        <h2>Results forAir purifiers, Lamps and more....</h2>
        <p></p>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 30px;">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Price
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" >
                            
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>0-<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>1000</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>1000-<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>2000</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>2000-<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>3000</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>3000-<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>4000</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>4000-<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>5000</label>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Brand
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Apple</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Xiaomi</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Oneplus</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Pebble</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Portronics</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Fast track</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Dyson</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Icruze</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Eufy</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Red Gear</label>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Categories
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Laptop Accessories</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox"> Smart Watches</label><br>
                            <input type="checkbox" name="" id="">
                            <label for="checkbox">Other Accessories </label>
                        </div>
                    </div>
                </div>
            </div>
            <button style="margin-left: 100px;margin-top: 20px;" >see results</button>
        </div>
        <div class="col-9">
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 1.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Portronics Power Plate 7 2500W Extension Boards
                        </h5>
                        <p>Arctic White</p>
                        <h5> <span style="color: rgba(255, 3, 3, 0.856);">₹1099.00 </span><span
                                style="font-size: smaller;"><del> ₹1999.00</del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 45% Off</span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 2.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Insta360 ONE RS Twin Edition Action Camera
                        </h5>
                        <p> white, Black, Red</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹47999.00 </span>
                            <span style="font-size: smaller;"> <del>₹54990.00</del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 13%off</span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 3.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Portronics Splug 10 Smart Plug ( POR 1474, White)
                        </h5>
                        <p> Smart
                        </p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹999.00 </span>
                            <span style="font-size: smaller;"><del>₹1999.00</del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 50% Off</span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 4.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Portronics Splug 16 Wifi 16A (POR 1475,White)
                        </h5>
                        <p>Smart</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹999.00</span>
                            <span style="font-size: smaller;"><del>₹2299.00</del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 57% Off</span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 5.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Xiaomi Robotic Vacuum-Mop 2Pro
                            Black
                        </h5>
                        <p> Black</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹29999.00 </span>
                            <span style="font-size: smaller;"><del>₹39999.00</del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 25% Off</span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 60px;">
                <div class="product-image">
                    <img src="assets/images/exp 6.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Xiaomi Smart Air Fryer
                        </h5>
                        <p>white ,Arctic White
                        </p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹8999.00</span>
                            <span style="font-size: smaller;"><del>₹14999.00</del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 40% Off</span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 60px;">
                <div class="product-image">
                    <img src="assets/images/exp 7.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Xiaomi Mi Motion-Activated Night
                        </h5>
                        <p>white, Awesome White
                        </p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹699.00
                            </span>
                            <span style="font-size: smaller;">
                               <del> ₹1299.00</del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 46% Off</span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 8.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Xiaomi Robot Vacuum MOPPXiaomi 360 Home Security Camera
                        </h5>
                        <p>white, Black
                        </p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹2999.00</span>
                            <span style="font-size: smaller;"> <del>₹4499.00</del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 33% Off</span>
                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 9.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>
                            Xiaomi Robot Vacuum MOPP
                        </h5>
                        <p> Black, Awesome White</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);">₹21999.00</span>
                            <span style="font-size: smaller;"><del>₹29999.00</del></span>
                            <span style="font-weight: lighter; font-size: x-small;"> 27%</span>

                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 10.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Apple Smart Keyboard for iPad (8th generation)


                        </h5>
                        <p> white</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹13900.00</span>

                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 11.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Mi Casual Backpack (College) Black - Xiaomi


                        </h5>
                        <p>Black</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);">₹699.00</span>

                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 12.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Mi Travel Backpack (Outdoor) Blue</h5>
                        <p>Blue</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);"> ₹1999.00</span>

                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 13.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>
                            Mi LED Smart Bulb - Xiaomi </h5>
                        <p>Generic</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);">₹1299.00 </span>

                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 14.jpg" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Mi Rechargeable LED Lamp - Xiaomi</h5>
                        <p>Generic</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);">₹1499.00 </span>

                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product" style="margin-bottom: 50px;">
                <div class="product-image">
                    <img src="assets/images/exp 15.jp" alt="" style="width: 200px;">
                    <div class="product-content" style="margin-left: 300px; margin-top: -160px;">
                        <h5>Apple Pencil 1 (MK0C2ZM/A) (N) - Apple</h5>
                        <p>White</p>
                        <h5><span style="color: rgba(255, 3, 3, 0.856);">₹8500.00 </span>

                        </h5>
                        <div style="gap: 15px; display: flex;justify-content: end; ">
                            <div style="margin-top:-100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg></div>
                            <div style="margin-top: -100px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>