<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
        style="width: 400px; margin-top: 100px;margin-left: 100px;">
        <div class="carousel-indicators">
            <img type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1" src="assets/images/xiaomi 1.jpg" alt=""
                style="width: 40px; height: 40px; border: solid 1px black; margin-top: -140px">
            <img type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
                src="assets/images/xiaomi 2.jpg" alt=""
                style="width: 40px; height: 40px; border: solid 1px black; margin-top: -140px;">
            <img type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"
                src="assets/images/xiaomi 3.jpg" alt=""
                style="width: 40px; height: 40px; border: solid 1px black; margin-top: -140px;">
            <img type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"
                src="assets/images/xiaomi 4.jpg" alt=""
                style="width: 40px; height: 40px; border: solid 1px black; margin-top: -140px;">
            <img type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"
                src="assets/images/xiaomi 5.jpg" alt=""
                style="width: 40px; height: 40px; border: solid 1px black; margin-top: -140px;">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/xiaomi 1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/xiaomi 2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/xiaomi 3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/xiaomi 4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/xiaomi 5.jpg" class="d-block w-100" alt="...">
            </div>
        </div>

        <svg class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
            class="bi bi-chevron-left" viewBox="0 0 16 16"
            style="border: solid 1px black; margin-top: -440px; margin-left: -60px;  padding: 10px; ">
            <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg><span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        <svg class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
            class="bi bi-chevron-right" viewBox="0 0 16 16"
            style="border: solid 1px black; margin-left: 430px; margin-top: -500px;  padding: 10px; ">
            <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg><span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"
            style="margin-left: 435px; margin-top: -1000px;">
            <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
        </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share"
            viewBox="0 0 16 16" style="margin-left: 409px; margin-top: -1045px;">
            <path
                d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
        </svg>
        <div class="buy btn"
            style="gap: 2px; display: flex; justify-content: center; margin-top: -30px; padding-top: 0px;  ">
            <div><a href=""><button style="width: 250px; height: 40px;background-color: black;color: beige;"> <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart4" viewBox="0 0 16 16">
                            <path
                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                        </svg> <b> Add to Cart</b></button></a></div>
            <div> <a href=""><button style="width: 250px; height: 40px; background: transparent; "><b>Buy
                            Now</b></button></a></div>
        </div>
    </div>

    <div style="margin-left: 55%; margin-top: -570px; ">
        <p><small>XIAOMI</small></p>
        <h3><strong>Xiaomi 13 Pro <br>Ceramic Black, 12GB RAM 256GB </strong></h3><br>
        <h5 style="font-family: 'Times New Roman', Times, serif;">Starting Price* - <span
                style="color: rgba(255, 3, 3, 0.856);font-size: larger; font-weight: bold;"> ₹79,999.00 <span
                    style="color: black;"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                        fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg></span> <br><br>EMI Starts @ ₹6,522.56/ Month <br><br>₹79,999.00
            </span><del><small>₹89,999</small></del><span style="font-weight: lighter;"><small><b>11%
                        Off</b></small><small><i>(Price Includes
                        GST)</i></small></span>
        </h5><br>
        <hr>
        <div class="camera" style="display: flex; gap: 30px;">
            <img src="assets/images/ip charge.jpg" alt="" style="height: 54px;">
            <p style="font-weight: lighter;"> <b>charge</b> <br>4820 mAh
            </p>
            <img src="assets/images/ip camera.jpg" alt="" style="height: 60px;">
            <p style="font-weight: lighter;"> <b>camera</b> <br>Professional 50MP Triple Camera | Biggest Camera Sensor
                1" IMX989 </p><br><br>
        </div>
        <hr>
        <h5>Color</h5>
        <ul class="btn" style="list-style: none;">
            <li><a href=""><button class="btn btn-primary btn-round active"
                        style="background-color:wheat;"></button></a></li>
            <li><a href=""><button class="btn btn-primary btn-round"
                        style="background-color:midnightblue ;"></button></a></li>
            <li><a href=""><button class="btn btn-primary btn-round" style="background-color:purple ;"></button></a>
            </li>
            <li><a href=""><button class="btn btn-primary btn-round" style="background-color:red ;"></button></a></li>
            <li><a href=""><button class="btn btn-primary btn-round" style="background-color: blue;"></button></a></li>
            <li><a href=""><button class="btn btn-primary btn-round" style="background-color:yellow ;"></button></a>
            </li>
        </ul>
        <h5 style="margin-left: 260px; margin-top:-80px ; margin-bottom: 10px;">RAM+Storage</h5>
        <ul style="list-style: none; gap: 15px; display: flex; margin-left: 240px; ">


            <li><a href=""><button style="background: transparent;">12GB+256GB</button></a></li>
        </ul>

    </div> <br>
    <hr>
    <div class="location" style="display: flex; gap: 15px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
            viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
        </svg>
        <h5 style="margin-top: -4px;">Deliver To 560068</h5>
        <button type="link"
            style="border: none; background: transparent; margin-top: -6px; margin-left: -15px;"><u><b>change</b></u></button>
    </div>
    <p style="margin-left:29px ;"> Get this product by <b>Tomorrow.</b><span style="color: green;"> FREE</span></p>
    <hr>
    <div class="finance" style="display: flex; gap: 15px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank2"
            viewBox="0 0 16 16">
            <path
                d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z" />
        </svg>
        <h5 style="margin-top: -4px;">Finance Center</h5>
        <button type="link"
            style="border: none; background: transparent; margin-top: -6px; margin-left: -15px;"><u><b>view</b></u></button>
    </div>
    <hr>
    <div class="emi" style=" display: flex; gap: 15px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank2"
            viewBox="0 0 16 16">
            <path
                d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z" />
        </svg>
        <h5 style="margin-top: -4px;">EMI</h5>

    </div>

    <p style="font-weight: lighter; margin-left: 29px;">Starting from ₹6,522.56/ Month<button type="link"
            style="border: none; background: transparent; margin-top: -6px;"><u><b>view</b></u></button></p>
    <hr>
    <table class="table table-borderless" style="width: 50%; margin-top: 25px;">
        <tr>

            <td><b>Brand</b></td>
            <td>Xiaomi</td>

        </tr><br>
        <tr>
            <td><b>Model Name</b></td>
            <td>Xiaomi 13 pro</td>
        </tr><br>
        <tr>
            <td><b>Network Service Provider</b></td>
            <td>Unlocked for All Carriers</td>
        </tr><br>
        <tr>
            <td><b>Operating System</b></td>
            <td>Android 13.0</td>
        </tr><br>
        <tr>
            <td><b>Cellular Technology</b> </td>
            <td>Supports 5G* / 4G / 3G/ 2G
            </td>
        </tr>
    </table>
    <hr>
    <div>
        <h5><b>About this item</b></h5>
        <ul>
            <li>50MP Leica professional optics helps in capture images in great detail. The largest camera sensor on a
                smartphone - Sony IMX989 1 inch sensor with 3.2 μm large pixels captures brighter images even in extreme
                lowlight. The 50MP Telephoto-Macro(75mm Leica portrait) and 50MP Ultra-wide lens enables you to capture
                in different perspectives. Xiaomi 13 Pro can supports 8K video recording and also can record in Dolby
                Vision for a professional cinematography experience. The high resolution 32MP front camera comes with
                smart FoV switching</li>

            <li>The 6.73 inch 2K 120Hz E6 AMOLED display with a peak brightness of 1900nits meets the most demanding
                needs and provides the best viewing experience. The 10bit LTPO 3.0 display is Dolby Vision & HDR10+
                compliant. It is protected by Corning Gorilla Glass Victus</li>

            <li>The flagship Snapdragon 8 Gen 2, 4nm processor is designed to provide groundbreaking performance. The
                processor has 37% improved multi-core CPU performance over the previous generation. The processor is
                coupled with faster UFS 4.0 Storage and LPDDR5X RAM for extreme performance. The super-big 3400mm²
                vapour chamber helps in keeping the phone temperatures in check even at peak performance</li>

            <li>The 120W in-box HyperCharger coupled with Xiaomi Surge charging chipset can fully charge the massive
                4820mAh battery in 19 minutes. The battery lasts longer with the optimizations by Xiaomi battery
                management shipset. The phone also supports upto 50W of Wireless Turbo charging & wireless reverse
                charging</li>

            <li>3D Bio ceramic back design made from medical grade materials | Corning Gorilla Glass Victus protection
                on the front</li>

        </ul>
    </div>
    <div class="image" style="text-align: center;">
        <div><img src="assets/images/xiaomi 1.jpg" alt="" style=" border-radius: 20px;width: 600px; "></div>
        <div style="margin-top: 20px;"><img src="assets/images/xiaomi 2.jpg" alt="" style="border-radius: 20px;"></div>
        <div style="margin-top: 20px;"><img src="assets/images/xiaomi 3.jpg" alt="" style="border-radius: 20px;"></div>
        <div style="margin-top: 20px;"><img src="assets/images/xiaomi 4.jpg" alt="" style="border-radius: 20px;"></div>
        <div style="margin-top: 20px;"><img src="assets/images/xiaomi 5.jpg" alt="" style="border-radius: 20px;"></div>
    </div>
</div>